[submodule "Code/__VendorAPIs/Diligent"]
	path = Code/__VendorAPIs/Diligent
	url = https://github.com/HailStorm32/WaveForms-SDK-Getting-Started-PY.git
[submodule "Code/__VendorAPIs/ykush"]
	path = Code/__VendorAPIs/ykush
	url = https://github.com/Yepkit/ykush
[submodule "Code/__VendorAPIs/RFExplorer"]
	path = Code/__VendorAPIs/RFExplorer
	url = https://github.com/RFExplorer/RFExplorer-for-Python
[submodule "Code/__VendorAPIs/pyjoulescope"]
	path = Code/__VendorAPIs/pyjoulescope
	url = https://github.com/jetperch/pyjoulescope.git
